
*.iml
*.xml
*.pyc
*.py
*.txt
hw04/venv/Lib/site-packages/beautifulsoup4-4.9.3.dist-info/LICENSE
hw04/venv/Lib/site-packages/beautifulsoup4-4.9.3.dist-info/INSTALLER
hw04/venv/Lib/site-packages/beautifulsoup4-4.9.3.dist-info/WHEEL
*.png
*.exe
*.bat
*.cfg
*.ps1
*.rst
hw04/venv/Lib/site-packages/Flask-1.1.2.dist-info/WHEEL
hw04/venv/Lib/site-packages/werkzeug/debug/shared/FONT_LICENSE
hw04/venv/Lib/site-packages/beautifulsoup4-4.9.3.dist-info/AUTHORS
hw04/venv/Lib/site-packages/beautifulsoup4-4.9.3.dist-info/METADATA
hw04/venv/Lib/site-packages/beautifulsoup4-4.9.3.dist-info/RECORD
hw04/venv/Lib/site-packages/certifi-2020.6.20.dist-info/LICENSE
*.pem
hw04/venv/Lib/site-packages/bs4-0.0.1-py3.9.egg-info/PKG-INFO
hw04/venv/Lib/site-packages/certifi-2020.6.20.dist-info/INSTALLER
hw04/venv/Lib/site-packages/certifi-2020.6.20.dist-info/METADATA
hw04/venv/Lib/site-packages/certifi-2020.6.20.dist-info/RECORD
hw04/venv/Lib/site-packages/certifi-2020.6.20.dist-info/WHEEL
hw04/venv/Lib/site-packages/chardet-3.0.4.dist-info/INSTALLER
hw04/venv/Lib/site-packages/chardet-3.0.4.dist-info/METADATA
hw04/venv/Lib/site-packages/chardet-3.0.4.dist-info/metadata.json
hw04/venv/Lib/site-packages/chardet-3.0.4.dist-info/RECORD
hw04/venv/Lib/site-packages/chardet-3.0.4.dist-info/WHEEL
hw04/venv/Lib/site-packages/click-7.1.2.dist-info/INSTALLER
hw04/venv/Lib/site-packages/click-7.1.2.dist-info/METADATA
hw04/venv/Lib/site-packages/click-7.1.2.dist-info/RECORD
hw04/venv/Lib/site-packages/click-7.1.2.dist-info/WHEEL
hw04/venv/Lib/site-packages/distutils-precedence.pth
hw04/venv/Lib/site-packages/Flask-1.1.2.dist-info/INSTALLER
hw04/venv/Lib/site-packages/Flask-1.1.2.dist-info/METADATA
hw04/venv/Lib/site-packages/Flask-1.1.2.dist-info/RECORD
hw04/venv/Lib/site-packages/Flask-1.1.2.dist-info/REQUESTED
hw04/venv/Lib/site-packages/idna-2.10.dist-info/INSTALLER
hw04/venv/Lib/site-packages/idna-2.10.dist-info/METADATA
hw04/venv/Lib/site-packages/idna-2.10.dist-info/RECORD
hw04/venv/Lib/site-packages/idna-2.10.dist-info/WHEEL
hw04/venv/Lib/site-packages/itsdangerous-1.1.0.dist-info/INSTALLER
hw04/venv/Lib/site-packages/itsdangerous-1.1.0.dist-info/METADATA
hw04/venv/Lib/site-packages/itsdangerous-1.1.0.dist-info/RECORD
hw04/venv/Lib/site-packages/itsdangerous-1.1.0.dist-info/WHEEL
hw04/venv/Lib/site-packages/Jinja2-2.11.2.dist-info/INSTALLER
hw04/venv/Lib/site-packages/Jinja2-2.11.2.dist-info/METADATA
hw04/venv/Lib/site-packages/Jinja2-2.11.2.dist-info/RECORD
hw04/venv/Lib/site-packages/Jinja2-2.11.2.dist-info/WHEEL
hw04/venv/Lib/site-packages/MarkupSafe-1.1.1-py3.9.egg-info/PKG-INFO
hw04/venv/Lib/site-packages/markupsafe/_speedups.c
hw04/venv/Lib/site-packages/pip-20.2.4.dist-info/INSTALLER
hw04/venv/Lib/site-packages/pip-20.2.4.dist-info/METADATA
hw04/venv/Lib/site-packages/pip-20.2.4.dist-info/RECORD
hw04/venv/Lib/site-packages/pip-20.2.4.dist-info/WHEEL
hw04/venv/Lib/site-packages/pymongo-3.11.0-py3.9.egg-info/PKG-INFO
hw04/venv/Lib/site-packages/requests-2.24.0.dist-info/INSTALLER
hw04/venv/Lib/site-packages/requests-2.24.0.dist-info/METADATA
hw04/venv/Lib/site-packages/requests-2.24.0.dist-info/metadata.json
hw04/venv/Lib/site-packages/requests-2.24.0.dist-info/RECORD
hw04/venv/Lib/site-packages/requests-2.24.0.dist-info/REQUESTED
hw04/venv/Lib/site-packages/requests-2.24.0.dist-info/WHEEL
hw04/venv/Lib/site-packages/setuptools-50.3.2.dist-info/INSTALLER
hw04/venv/Lib/site-packages/setuptools-50.3.2.dist-info/LICENSE
hw04/venv/Lib/site-packages/setuptools-50.3.2.dist-info/METADATA
hw04/venv/Lib/site-packages/setuptools-50.3.2.dist-info/RECORD
hw04/venv/Lib/site-packages/setuptools-50.3.2.dist-info/WHEEL
hw04/venv/Lib/site-packages/setuptools-50.3.2.dist-info/zip-safe
hw04/venv/Lib/site-packages/setuptools/script (dev).tmpl
hw04/venv/Lib/site-packages/setuptools/script.tmpl
hw04/venv/Lib/site-packages/soupsieve-2.0.1.dist-info/INSTALLER
hw04/venv/Lib/site-packages/soupsieve-2.0.1.dist-info/LICENSE.md
hw04/venv/Lib/site-packages/soupsieve-2.0.1.dist-info/METADATA
hw04/venv/Lib/site-packages/soupsieve-2.0.1.dist-info/RECORD
hw04/venv/Lib/site-packages/soupsieve-2.0.1.dist-info/WHEEL
hw04/venv/Lib/site-packages/urllib3-1.25.11.dist-info/INSTALLER
hw04/venv/Lib/site-packages/urllib3-1.25.11.dist-info/METADATA
hw04/venv/Lib/site-packages/urllib3-1.25.11.dist-info/RECORD
hw04/venv/Lib/site-packages/urllib3-1.25.11.dist-info/WHEEL
hw04/venv/Lib/site-packages/Werkzeug-1.0.1.dist-info/INSTALLER
hw04/venv/Lib/site-packages/Werkzeug-1.0.1.dist-info/METADATA
hw04/venv/Lib/site-packages/Werkzeug-1.0.1.dist-info/RECORD
hw04/venv/Lib/site-packages/Werkzeug-1.0.1.dist-info/WHEEL
hw04/venv/Lib/site-packages/werkzeug/debug/shared/debugger.js
hw04/venv/Lib/site-packages/werkzeug/debug/shared/jquery.js
hw04/venv/Lib/site-packages/werkzeug/debug/shared/style.css
hw04/venv/Lib/site-packages/werkzeug/debug/shared/ubuntu.ttf
hw04/venv/Scripts/activate
